# Nextflow runtime
.work/
work/
.nextflow/
.nextflow.log*
.cache/
.trace/
timeline.html
report.html
dag.png
flowchart.dot
trace.txt

# Outputs and large data
results/
data/
cogs/
gbff_assemblies/
genomes/
proteomes/
mappings/
*.zip
*.fa
*.fa.gz
*.hmm
*.prot
*.result
*.map
*_oriented
*_sector
*_presence_binary_data_*
all_mappings.map
dataframe.tsv
itol_*.txt
protein_to_organism_map.tsv
assemblies_to_download

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS/editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

#backups
backup*
