process {
  // use the image you pushed to Docker Hub
    container = 'docker.io/manulonigro/syntenitol:latest'

  // Retry strategy
  withLabel: 'retry_backoff' {    
    errorStrategy = 'retry'
    maxRetries = 5
    
    // Exponential backoff
    beforeScript = {
      if( task.attempt > 1) {
        def delay = (int) (20 * Math.pow(2, task.attempt -2))
        "echo 'Retry attempt ${task.attempt-1}, sleeping ${delay}s' ; sleep ${delay}"
      } else {
        ''
      }
    }
  }
}

// optional: ensure docker backend is enabled
docker {
    enabled = true
}

timeline {
    enabled = true
    file = 'timeline.html'
    overwrite = true
}

report {
  enabled = true
  file = 'report.html'
  overwrite = true
}

trace {
  enabled = true
  file = 'trace.txt'
  overwrite = true
}

dag {
  enabled = true
  file = 'flowchart.png'
}

params {
  // Simple defaults; CLI values override these
  help           = false
  inputFASTA     = null
  cogs           = null
  ncbi_api_key   = null
  color_by_group = ""

  // Run ID and outdir default
  run_id = new Date().format('yyyyMMdd_HHmmss')
  outdir = "results/run_${params.run_id}"
}