process {
  // use the image you pushed to Docker Hub
    container = 'docker.io/manulonigro/syntenitol:latest'

  // Retry strategy
  withLabel: 'retry_backoff' {    
    errorStrategy = 'retry'
    maxRetries = 3
    
    // Exponential backoff
    beforeScript = {
      if( task.attempt > 1) {
        def delay = (int) (20 * Math.pow(2, task.attempt -2))
        "echo 'Retry attempt ${task.attempt-1}, sleeping ${delay}s' ; sleep ${delay}"
      } else {
        ''
      }
    }
  }
}

// optional: ensure docker backend is enabled
docker {
    enabled = true
}

params {
  // Simple defaults; CLI values override these
  help                = false
  inputFASTA          = null
  cogs                = null
  custom_hmm_profiles = null
  query_profile       = null
  gene_order          = null
  color_by_group      = ""
  no_taxonomy         = false
  base_name	          = null
  evalue              = 1e-5

  // Run ID and outdir default
  run_id = new Date().format('yyyyMMdd_HHmmss')
  outdir = "results/run_${params.run_id}"
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
    overwrite = true
}

report {
  enabled = true
  file = "${params.outdir}/report.html"
  overwrite = true
}

trace {
  enabled = true
  file = "${params.outdir}/trace.txt"
  overwrite = true
}